.competence{
    &__titre{
        margin: 50px 0;
        font-size: 50px;
        text-align: center;
        color: white; 
    }
    &__placement {
        display: grid;
        grid-template-columns: repeat(6, 150px);
        justify-content: center;
        gap: 24px; 
    }
    &__techno{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        height: 150px;
    }
    &__img:hover{
        filter: grayscale(100%);
    }
    &__texte {
        position: absolute;
        transition: opacity 0.5s;
        color: black;
        background-color: #c4c4c4;
        padding: 5px;
        border-radius: 5px;
        pointer-events: none;
        font-size:22px;
        z-index: 1;
        opacity: 0;
    }
    &__techno:hover &__texte {
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    .competence{
        &__placement{
            grid-template-columns: repeat(3, 125px);  
        }
        &__img{
            height: 125px;
        }
        
    }    
}

@media screen and (max-width: 767px) {
    .competence{
        &__titre{
            margin: 25px 0;
            font-size: 25px;
        }
        &__placement{
            grid-template-columns: repeat(2, 100px);  
        }
        &__img{
            height: 100px;
        }
    }    
  }