.footer{
    background-color: black;
    margin-top: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__texte{
        color: white;
        font-size: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .footer{
      margin-top: 25px;
      height: 100px;
    }    
}

@media screen and (max-width: 767px) {
    .footer{
        margin-top: 15px;
        height: 75px;
      &__texte{
        font-size: 12px;
      }
    }    
}