.footer{
    background-color: black;
    margin-top: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__texte{
        color: white;
        font-size: 24px;
    }
}