.liencode {
    display: flex;
    justify-content: flex-start;
    max-width: 1400px;
    margin: auto;
    & a{
        text-decoration: none;
        color: black;
    }

    &__card {
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        margin: 50px 0;
        &:hover .liencode__texte {
            transform: translateX(-1px);
        }
        &:hover .liencode__gitlogo{
            transform: rotate(360deg);
        }
    }

    &__img {
        background: #EAE7E7;
        height: 45px;
        width: 45px; 
    }
    &__gitlogo{
       width: 45px; 
       transition: transform 1s ease;
    }

    &__texte {
        background-color: #eae7e7;
        padding: 5px;
        border-radius: 0 5px 5px 0;
        font-size: 24px;
        font-weight: 600;
        transform: translateX(-100%);
        transition: transform 1s ease;
        z-index: -1;
    }
}

@media screen and (max-width: 1023px) {
    .liencode{
        max-width: 800px;
        .liencode__card{
            margin: 25px 0;    
        }
    }    
}

@media screen and (max-width: 767px) {
    .liencode{
        max-width: 600px;
        .liencode__card{
            margin: 25px 0;    
        }
    }    
}

