.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    width: 1px;
    height: 1px;
    animation: twinkle 3s infinite;
  }

  .presentation{
    text-align: center;
    color: white;
    font-size: 135px;
    width: 940px;
    line-height: 100%;
    font-weight: 600;
    font-family: 'Roboto';
    text-transform: uppercase;
  }
  
  @keyframes twinkle {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
@media screen and (max-width: 1023px) {
    .presentation{
      font-size: 100px;
      width: 768px;
    }    
}

@media screen and (max-width: 767px) {
  .presentation{
    font-size: 35px;
    width: 280px;
  }    
}