.tag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: auto;
    &__titre{
        color: white;
        font-size: 24px;
        margin: 50px 0 25px 0;
    }
    &__placement{
        display: flex;
        gap: 15px;
    }
    &__tag{
        background-color: #eae7e7;
        padding: 5px;
        border-radius: 5px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1023px){
    .tag{
        max-width: 800px;
        &__titre{
            margin: 25px 0;
        }
    }
}

@media screen and (max-width: 767px){
    .tag{
        max-width: 600px;
        &__titre{
            font-size: 16px;
            margin: 25px 0;
        }
    }
}