@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Roboto:wght@400;700&family=Shrikhand&display=swap');

body{
    font-family: 'Poppins';
    background: linear-gradient(180deg, #000 21.9%, #010039 100%)
}

main{
    margin: 0 80px;
}

@media screen and (max-width: 1023px) {
    main{
      margin: 0 50px;
    }    
}

@media screen and (max-width: 767px) {
    main{
      margin: 0 20px;
    }    
}